@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


:root {
    --teal :#4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57; 
    --pink:#D9526F;
    --dark-gray:#1E1E1E; 
    --white:#ffffff; 
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--white);
    background-color: var(--lavender);
    justify-content: center;
    padding: 20px 0;

}

header, nav, main, footer {
    background-color: var(--purple);
    width: 100%;
    padding: 20px;
    text-align: center;
}

.box {
    background-color: var(--white);
    color: var(--dark-gray);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: left;
}

nav {
    background-color: var(--yellow);
    padding: 15px;
}

nav h2 {
    font-size: 1.5em;
    color: var(--purple);
}

nav ul {
    list-style: none;
}

nav ul li {
    background-color: var(--white);
    margin: 8px 0;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: var(--purple);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
}
.box h4 {
    font-size: 1.15em;
    color: var(--purple);
    margin: 10px 0;
}