@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


:root {
    --teal :#4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57; 
    --pink:#D9526F;
    --dark-gray:#1E1E1E; 
    --white:#ffffff; 
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--white);
    background-color: var(--lavender);
    justify-content: center;
    padding: 20px 0;

}

header, nav, main, footer {
    background-color: var(--purple);
    width: 100%;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    font-family: 'Kavoon', serif;
    font-weight: normal;
}

h1 {
    font-size: 3em;
}

header p {
    font-size: 0.9em;
    font-weight: bold;
    font-style: italic;
}

.box {
    background-color: var(--white);
    color: var(--dark-gray);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: left;
}

nav {
    background-color: var(--yellow);
    padding: 15px;
}

nav h2 {
    font-size: 1.5em;
    color: var(--dark-gray);
}

nav ul {
    list-style: none;
}

nav ul li {
    background-color: var(--white);
    margin: 8px 0;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: var(--purple);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
}

main h3 {
font-family: 'Inter', sans-serif;
font-size: 1.5em;
color: var(--yellow);
text-align: left;

}

.box h4 {
    font-size: 1.15em;
    color: var(--purple);
    margin: 10px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.grid-item {
    padding: 20px 10px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.9em;
    justify-content: center;
}

.personalized-approach {
    background-color: var(--teal);
    color: black;
}
.proven-results {
    background-color: var(--lavender);
    color: black;
}
.supportive-environment {
    background-color: var(--yellow);
    color: black;
}
.flexibile-options {
    background-color: var(--white);
    color: black;
}

#why-choose-us {
    background-color: #D9526F;
}

.pricing-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--white);
    color: var(--dark-gray);
}

.pricing-table th {
    background-color: var(--yellow);
    font-weight: bold;
    padding: 10px;
    font-size: 0.85em;
    text-transform: uppercase;
}

.pricing-table td {
    padding: 10px;
    border-bottom: 1px solid var(--yellow);
}

#schedule {
    background-color: #D9526F;
}

#schedule p {
    font-size: 0.95em;
    line-height: 1.4;
}

.button {
    display: inline-block;
    background-color: var(--white);
    color: var(--dark-gray);
    padding: 12px 30px;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 3px 5px var(--dark-gray);
}

footer {
    font-size: 0.8em;
    padding: 20px;
}

footer a {
    color: var(--white);
    text-decoration: underline;
}
